*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#mainContainer {

    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


#menu{
    border: 2px solid blue;
}


#content{
    border: 2px solid red;
}