:root{
    --main-white: #ffffff;
    --main-light-grey: #f4f4f4;
    --secondary-light-grey: #ececec;
    --ascent-pastel-color: #eed2bb;
    --ascent-color: #b13924;

    --hundred-percent : 100%;
    --fs11: 1.1rem;
    --fs14: 1.4rem;


    --px8: 8px;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#mainContainer {

    min-height: 100dvh;
}


.full-h{
    height: var(--hundred-percent);
}


.flex-display{
    display: flex
}


.column-direction{
    flex-direction: column;
}


.flex-first-grow{
    flex-grow: 1;
}


.flex-basis40px{
    flex-basis: calc(var(--px8)*5);
}


.flex-basis20px{
    flex-basis: 20px;
}


.icon-menu{
    background-repeat: no-repeat;
    background-position: center;

    width: var(--hundred-percent);
    height: var(--hundred-percent);

}


.gap-8{
    gap: var(--px8)
}

.gap-4{
    gap: calc(var(--px8)/2)
}

.aligned-item{
    align-items: center;
}


.fs11{
    font-size: var(--fs11);
}


.fs14{
    font-size: var(--fs14);
}

.menu-button{
    height: 50px;
    width: var(--hundred-percent);
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 12px;
    border-radius: var(--px8);
}


.menu-bigger-button{
    height: 60px;
}


.menu-button:hover{
    background-color: var(--secondary-light-grey);
}



.bigger-icon{
    background-size: 32px;
}



[data-active = "true"]{
    background-color: var(--ascent-pastel-color);

}



[data-active = "true"] > span.icon-menu{
    background-color: var(--ascent-color);
    background-image: none;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 24px;
}


[data-active = "true"] span.fs11{
    color: var(--ascent-color);
} 



button[data-active = "true"]:hover{
    background-color: var(--ascent-pastel-color);
}



.icon-menu-add-task{
    mask-image: url(../asset/ressource/plus-circle.svg);
    background-color: var(--ascent-color);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 32px;
}


.icon-menu-add-task ~ div > span{
    color: var(--ascent-color);
}


.icon-menu-search{
    background-image: url(../asset/ressource/search.svg);
}


[data-active = "true"] > span.icon-menu-search{
    mask-image: url(../asset/ressource/search.svg);
}

.icon-menu-today{
    background-image: url(../asset/ressource/calendar-event.svg);
}


[data-active = "true"] > span.icon-menu-today{
    mask-image: url(../asset/ressource/calendar-event.svg);
}


.icon-menu-upcomming{
    background-image: url(../asset/ressource/calendar-clock.svg);
}


[data-active = "true"] > span.icon-menu-upcomming{
    mask-image: url(../asset/ressource/calendar-clock.svg);
}


.icon-menu-completed{
    background-image: url(../asset/ressource/progress-check.svg);
}


[data-active = "true"] > span.icon-menu-completed{
    mask-image: url(../asset/ressource/progress-check.svg);
}

.icon-menu-one-project{
    background-image: url(../asset/ressource/clipboard-text.svg)
}


[data-active = "true"] > span.icon-menu-one-project{
    mask-image: url(../asset/ressource/clipboard-text.svg);
}

.icon-menu-add-project{
    background-image: url(../asset/ressource/plus.svg);
}


.icon-menu-chevron{
    background-image: url(../asset/ressource/chevron-down.svg);
}


.bgc-mlg{
    background-color: var(--main-light-grey);
}


#menu{

    min-width: 420px;
    max-width: 420px;
    flex-shrink: 0;
}


#menu nav {

    flex-direction: column;
    gap: 12px;
}



#menu nav > div:first-child{
    flex-basis: 40px;
    margin-top: 20px;
}


#menu nav > div:nth-child(2){
    flex-basis: 60px;
}


#menu nav > div:last-child{
    flex-grow: 2;
}


#menu nav > div > div:first-child{
    margin: 0% 10%;
}


#content{
    border: 2px solid red;
}