:root{
    --main-white: #ffffff;
    --main-light-grey: #f4f4f4;
    --ascent-color: #306B34;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#mainContainer {

    min-height: 100dvh;
}


.full-h{
    height: 100%;
}


.flex-display{
    display: flex
}


.flex-first-grow{
    flex-grow: 1;
}


#plus{
    background-image: url(../asset/ressource/plus-circle.svg);
}


.bgc-mlg{
    background-color: var(--main-light-grey);
}


#menu{

    min-width: 310px;
    max-width: 420px;
    flex-shrink: 0;
}


#menu nav {

    flex-direction: column;
    gap: 12px;
}



#menu nav > div:first-child{
    flex-basis: 40px;
    margin-top: 20px;
}


#menu nav > div:nth-child(2){
    flex-basis: 60px;
}


#menu nav > div:last-child{
    flex-grow: 2;
}


#menu nav > div > div:first-child{
    margin: 0% 10%;
}


#content{
    border: 2px solid red;
}